json-fix==0.5.2
more-itertools==9.0.0
gym
icecream
matplotlib
numpy
plotly>=5.13.1
matplotlib>=3.7.1
cma>=3.3.0
tdqm>=0.0.1
torch==1.13.1
gym==0.21.0
stable-baselines3==1.7.0
pyquaternion
dill==0.3.6
scipy