# 
# stuff for ros to work
# 
    # check if file exists
    if [ -f "/opt/ros/noetic/setup.bash" ]
    then
        builtin cd /opt/ros/noetic/
        source /opt/ros/noetic/setup.bash
        builtin cd - 1>/dev/null
    fi
    
    # fix missing libeigenpy.so
    export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/opt/ros/noetic/lib/x86_64-linux-gnu/:/opt/ros/noetic/lib/"
    
    if [ -d "$PWD/main" ]
    then
        export PYTHONPATH="$PWD/main:$PWD/__dependencies__:$PYTHONPATH:$PWD"
    else
        export PYTHONPATH="$PWD:$PYTHONPATH"
    fi