# NOTE: names in parentheses are special, all other names are not!
(project):
    
    # a central place for filepaths
    (path_to):
        records: "./records/"
        waypoints_folder: "./waypoint_paths/"
        default_waypoints: "./waypoint_paths/real1.csv"
        saved_policies: "./saved_policies"
        default_output_folder: "./output.ignore/"
        temp_policy_folder: "./saved_policies/temp.ignore/"
        action_adjuster_data_buffer: "./temp.ignore/action_adjuster_data_buffer.json"
        action_adjuster_transform_file: "./temp.ignore/action_adjuster_transform.json"
    
    (local_data): ./local_data.ignore.yaml
    
    related papers:
        meta-reinforcement learning robust to distributional shift via model identification and experience relabeling:
            paper: https://arxiv.org/pdf/2006.07178.pdf
        
        learning visual locomotion with cross-modal supervision:
            paper: https://arxiv.org/abs/2211.03785
        
        learning to adapt in dynamic envs with meta learning:
            paper: https://arxiv.org/pdf/1803.11347.pdf
            code: https://github.com/dhl8282/learning_to_adapt_gpu
        
        robust adaptive finite-time parameter estimation and control for robotic systems:
            paper: Robust adaptive finite-time parameter estimation and control for robotic systems
        
        reinforcement learning in non-stationary environments:
            paper: https://arxiv.org/abs/1905.03970
        
        deep dynamics models for learning dexterous manipulation:
            paper: https://arxiv.org/pdf/1909.11652.pdf
        
        continuous adaptation via meta-learning in nonstationary and competitive environments:
            paper: 
        
            
    
    (profiles):
        (default):
            vehicle: null # filled in by "WARTHOG" profile below (way below)
            should_use_ros: True
            action_adjuster:
                disabled: False
                default_to_perfect: True
                update_rate: 1 # kinda similar to alpha/step-size
                future_projection_length: 1 # timesteps
                update_frequency: 20 # timesteps
                max_history_size: 10000 # timesteps
                processor_sleep_time: 1 # seconds
            
            policy:
                name: retrained # 'bicycle' or 'dummy' or 'retrained'
                
            reward_parameters:
                max_expected_crosstrack_error:  2.0   # meters
                max_expected_velocity_error:    1.125 # scaled by the vehicle's controller max velocity (1.1 = 110%)
                max_expected_angle_error:       1.047 # radians (1.047 = 60 degrees)
                velocity_jerk_cost_coefficient: 1
                spin_jerk_cost_coefficient:     0.5
                direct_velocity_cost:           0 # no penalty for going fast
                direct_spin_cost:               1 # no scaling of spin cost relative to combination
                
                velocity_caps_enabled: true
                velocity_caps:
                    # EXAMPLE:
                    #   40%: 10% 
                    #  # ^this means, if the closest waypoint has a velocity >= 40% of max-speed,
                    #  # then the velocity error must be < 10% of max speed (otherwise 0 reward)
                    
                    0%:    12.5% # 0.5m/s for warthog is (0.5/4.0) => 0.125 => 12.5%
                    62.5%: 37.5% # 2.5m/s for warthog is (2.5/4.0) => 0.625 => 62.5%
            
            ros_runtime:
                main_node_name: 'warthog_listener'
                controller_topic: '/warthog_velocity_controller/cmd_vel'
                odometry_topic: 'odometry/filtered'
                gps_topic: 'odometry/filtered2'
                time_sync_size: 10 # TODO: I don't actually know what this 10 does
            
            ros_faker:
                enable: True
                main_node_name: 'warthog_faker'
            
            simulator:
                save_data: True
                should_render: True
                max_velocity: 4
                action_length: 2
                action_space:
                    low:  [ 0.0, -1.5 ] # (1.5 radians per second is max option on the controller, but the )
                    high: [ 1.0,  1.5 ] # 0-1 for velocity
                observation_space:
                    low: -100
                    high: 1000
                    shape: [ 42 ]
                horizon: 10 # number of waypoints in the observation
                max_episode_steps: 700
                number_of_trajectories: 100
                action_duration: 0.06 # 0.06 seconds (controller is at 15hertz)
                allow_cut_short_episode: False
                action_delay: 0 # 5 => 5 timesteps (5 * action_duration)
                
                # 
                # random start
                # 
                random_start_position_offset: 0.1 # TODO: units?
                random_start_angle_offset: 0.01 # TODO: units?
                
                # 
                # action offset 
                # 
                velocity_offset: 0 # will be added to the velocity_action value every step
                spin_offset: 0.20 # will be added to the spin_action value every step
                
                # 
                # action noise
                # 
                use_gaussian_action_noise: False
                gaussian_action_noise:
                    velocity_action:
                        standard_deviation: 0.01 # meters per second
                    spin_action:
                        standard_deviation: 0.05 # radians per action_duration (default 15 hertz)
                # 
                # spacial info noise (e.g. sensor error)
                # 
                use_gaussian_spacial_noise: False
                gaussian_spacial_noise:
                    "x":
                        standard_deviation: 0.5 # meters
                    "y":
                        standard_deviation: 0.5 # meters
                    "angle":
                        standard_deviation: 0 # radians
                    "velocity":
                        standard_deviation: 0 # meters per second
                    "spin":
                        standard_deviation: 0 # radians per action_duration (default 15 hertz)
            
            training:
                parameters:
                    seed: 0
                    buff_size: 4000
                    train_time_steps: 10000000
                    gamma: 0.99
                    clip_ratio: 0.2
                    lr_pi: 3.0e-5
                    lr_vf: 1.0e-3
                    pi_train_itrs: 80
                    v_train_itrs: 80
                    lam: 0.97
                    max_ep_len: 500
                
                evaluation:
                    timesteps: 400
                policy:
                    layer_sizes: [ 128 ]
                value_network:
                    layer_sizes: [64, 64]
        
        WARTHOG:
            vehicle:
                name: Warthog
                real_length: 1 # meter (approximately)
                real_width: 0.5 # meters (approximately)
                render_length: 0.25 
                render_width: 0.5
                controller_max_velocity: 4 # meters per second
                controller_max_spin: 2.5 # radians
        
        HEAVY_NOISE:
            simulator:
                # 
                # action offset 
                # 
                velocity_offset: 0 # will be added to the velocity_action value every step
                spin_offset: 0.20 # will be added to the spin_action value every step
                
                # 
                # action noise
                # 
                use_gaussian_action_noise: True
                gaussian_action_noise:
                    velocity_action:
                        standard_deviation: 0.01 # meters per second
                    spin_action:
                        standard_deviation: 0.05 # radians per action_duration (default 15 hertz)
                # 
                # spacial info noise (e.g. sensor error)
                # 
                use_gaussian_spacial_noise: True
                gaussian_spacial_noise:
                    "x":
                        standard_deviation: 0.5 # meters
                    "y":
                        standard_deviation: 0.5 # meters
                    "angle":
                        standard_deviation: 0 # radians
                    "velocity":
                        standard_deviation: 0 # meters per second
                    "spin":
                        standard_deviation: 0 # radians per action_duration (default 15 hertz)