# NOTE: names in parentheses are special, all other names are not!
(project):
    
    # a central place for filepaths
    (path_to):
        default_waypoints: "./waypoint_paths/real1.csv"
    
    # git-ignore this file path! (file will be generated automatically)
    (local_data): ./local_data.ignore.yaml
            # this^ is where you choose which profile(s)
            # and is where to store auth tokens and other secrets
    
    (profiles):
        (default):
            warthog:
                length: 0.25 # TODO: length in meters?
                width: 0.5  # TODO: length in meters?
            action_adjuster:
                future_projection_length: 10 # timesteps
                update_frequency: 100 # timesteps
            
            simulator:
                save_data: True
                action_space:
                    low:  [ 0.0, -1.5 ] # TODO: units?
                    high: [ 1.0,  1.5 ]
                observation_space:
                    low: -100
                    high: 1000
                    shape: [ 42 ]
                horizon: 10 # number of waypoints in the observation
                max_episode_steps: 700
                number_of_trajectories: 100
                action_duration: 0.06 # TODO: why 0.06? what units?
                allow_cut_short_episode: False
                action_delay: 0 # 5 => 5 timesteps
                
                # 
                # random start
                # 
                random_start_position_offset: 0.1 # TODO: units?
                random_start_angle_offset: 0.01 # TODO: units?
                
                # 
                # action noise
                # 
                use_gaussian_action_noise: True
                gaussian_action_noise:
                    spin_action:
                        standard_deviation: 0
                    velocity_action:
                        standard_deviation: 0
                # 
                # spacial info noise (e.g. sensor error)
                # 
                use_gaussian_spacial_noise: True
                gaussian_spacial_noise:
                    "x":
                        standard_deviation: 0
                    "y":
                        standard_deviation: 0
                    "angle":
                        standard_deviation: 0
                    "velocity":
                        standard_deviation: 0
                    "spin":
                        standard_deviation: 0
                
                
                
                
        PROFILE1:
            mode: testing